body, dl, dd, dt, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
}

a img {
    display: block;
    border: none;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.fl-l {
    float: left;
}
.on{
    display: inline;
}
.fl-r {
    float: right;
}
body{
    font-size: 15px;
}
.tp{
	background:#f3f3f3;
}
.top{
    width:100%;
    /* height:660px; */
    background: url("../../images/index/bgimg2.jpg") no-repeat;
    background-size: contain;
}
.navimg{
    color: #777;
    font: 14px/50px '';
    margin-right: 32px;
    font-family:'Times New Roman';
}
.top_c{
    background: #f3f3f3;
    opacity: 0.95;
    box-shadow:0 0 10px 0 #CCC;
}
.a_now{
    text-decoration: none;
    border-bottom:solid #DA4E43 2px;
    cursor: pointer;
}
.navimg a{
    text-decoration: none;
}
.navimg a:hover{
    transition: 0.5s;
    color: #333;
    cursor: pointer;
}
.logo{
    text-align: center;
    margin-top: 68px;
    font:bold 65px/80px '华文楷体';
    color:#DA4E43;
}
.top_s{
    text-align: center;
    color:#616161;
    text-shadow: 0 0 15px #fff;
    font:40px/82px '方正舒体';
}
.top_p{
    text-align: center;
    color:#616161;
    text-shadow: 0 0 15px #fff;
    font:21px/82px '方正舒体';
}
.btn-primary {
    color: #fff;
    background-color: #D5362A;
    border-color: #D5362A;
    opacity: 0.85;
    width:130px;
    height: 56px;
    margin-top: 70px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #D5362A;
    border-color: #D5362A;
    opacity: 1;
    width:130px;
    margin-top: 70px;
    transition: 0.7s;
}
.dlyes{
	display:none;
	background:#CCC;
}
#ee li:hover .zc{
	background:rgba(0,0,0,0);
	
	text-shadow: 0 0 10px #fff;
}
#tee li:hover .zc{
	background:rgba(0,0,0,0);
	text-shadow: 0 0 10px #fff;
}
.zc{
	font-size:14px;
	color:#616161;
}
#b_nav:hover{
    transition: 0.5s;
    color: #616161;
    cursor: pointer;
}
.dropdown-menu > li > a{
	font-size:14px;
	color:#616161;
}
#view{
	position: relative;
    top: 50px;
}
.l_nav{
	position:fixed;
	left:0;
	top:0;
	width:45px;
	height:100%;
	background:#fff;
	/* border-right:solid #eee 1px; */
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
}
.l_nav ul li{
	height:45px;
	width:45px;
	/* border-bottom:solid #eee 1px; */
	text-align: center;
    line-height: 47px;
}
.l_nav ul li:hover #lii{
	    color: #CCC;
	    cursor:pointer;
}
.dropdown-menu {
    position: absolute;
    top: 75%;
    left: 0;
    }
.dlno{
	display:inline;
}
.top_p a{
    text-decoration: none;
}
.top_p a:hover{
    transition: 0.5s;
    color: #333;
    cursor: pointer;
}
.logo_o{
    color: #616161;
    font:40px/50px '华文楷体';
    display: none;
}
.logo_w{
    color: #616161;
    font:40px/50px '方正舒体';
    display: none;
}
.logo_n{
    color: #616161;
    font:40px/50px '方正舒体';
    display: inline;
}
.heart{
 	text-align: center;
    margin-top: 130px;
    font:bold 32px/0 '方正舒体';
    color:#616161;
	margin-bottom:100px;
}
.who {
    text-align: center;
    color: #4E4E4E;
    text-shadow: 0 0 15px #fff;
    font: 23px/100px '楷体';
}
.btn_t>div{
    padding: 25px;
}
.heart a{
 color:#D5362A;
 text-decoration: none;
}
.box{
    /*background: #fff;*/
    /*border-radius: 2px;*/
    /*border: solid 1px #DBE3E7;*/
    /*box-shadow:3px 4px 10px 0 #DDD;*/
    text-align: left;
    font-size: 15px;
    font-family: '方正舒体';
    background-color: #ffffff;
    border: 1px solid #dbe3e7;
    border-radius: 3px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);
    padding: 25px;
    height: 200px;
    margin-bottom: 17px;
}
a:visited {color: #777 !important}
#dnav{
    display:none;
}
.foot{
    background-color: #292c2f;
    width: 100%;
    text-align: left;
    font: normal 16px '华文新魏';
    padding:70px 55px 110px 55px;
    margin-top: 30px;
    color: #fff;
    margin-left: 0;
}
.odn{
    opacity: 0.6;
}
.wrap span {
    float: left;
    font-size: 35px;
    height: 40px;
    color: #da4e43;
    line-height: 40px;
    margin: 12px 20px;
    text-align: center;
    width: 40px;
}
.txt p{
margin-top: 10px;
}
@media screen and (max-width:1090px){
    #logo_o{
        display:none;
    }

}
@media screen and (max-width:720px){
	#tp{
	display:none;
	}
	#dnav{
	display:inline;
	}
}
.l_nav{
	position:fixed;
	left:0;
	top:50px;
	width:45px;
	height:100%;
	background: rgba(255, 255, 255, 0.23);
	/* border-right:solid #eee 1px; */
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
}
.l_nav ul li{
	height:45px;
	width:45px;
	/* border-bottom:solid #eee 1px; */
	text-align: center;
    line-height: 47px;
}
.hovli{
	color: #161616;
}
.l_nav ul li:hover .hovli{
	color:#D5362A;
    cursor:pointer;
}
.l_nav ul li:hover{
	cursor:pointer;
}

