/* 加载思维导图页面的css样式(侧导航栏) */
.l_nav{
    position:fixed;
    left:0;
    top:50px;
    width:45px;
    height:100%;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
}

.l_nav ul{
    padding: inherit;
}

.l_nav ul li{
    list-style-type:none;
    height:45px;
    width:45px;
    text-align: center;
    line-height: 47px;
}

.hovli{
    color: #161616;
}

.l_nav ul li:hover{
    cursor:pointer;
}

.l_nav ul li:hover .hovli{
    color:#D5362A;
    cursor:pointer;
}

/*背景样式*/
.main-container{
    background: -webkit-linear-gradient(left, rgba(218, 189, 211, 0.72), #DAB69D, #B4CCC2, #91CCB6);
    background: -o-linear-gradient(left, rgba(218, 189, 211, 0.72), #DAB69D, #B4CCC2, #91CCB6);
    background: -moz-linear-gradient(left, rgba(218, 189, 211, 0.72), #DAB69D, #B4CCC2, #91CCB6);
    background: -ms-linear-gradient(left, rgba(218, 189, 211, 0.72), #DAB69D, #B4CCC2, #91CCB6);
}

.table-hover > tbody > tr:hover {
    background-color: rgba(255, 255, 255, 0.23);
}

.link-style{
    color: #337ab7;

}
.link-style:hover{
    cursor: pointer;  /* 鼠标样式，手的形状 */
    text-decoration: underline;   /* 文字的下划线 */
}