<!DOCTYPE html>
<html>
  <head>
    <title>collection.html</title>
	
	<meta charset="utf-8">
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <script src="js/jquery.min2.1.4.js"></script>
    <script src="js/jquery.json-2.4.js"></script>
    <script src="js/json2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.share.min.js"></script>
    
    
    <link rel="stylesheet" type="text/css" href="css/hotai/view.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/share.min.css">
     
    
    <!-- 在这里写一个预加载的方法 -->
    <script type="text/javascript">
    
    $(function(){
    
    	getCollection();
    
    });
    
    
    
    //把全部东西都取出来,放在一起，做个分页，删除和分享功能(共能做成图片，点击出发)
     function getCollection(){
	    

	  var html="";
	    
      $.ajax({
    	type:"POST",
        contentType:"application/json",
        dataType:"json",
        url:"getCollectionFile.do",
    	success:function(data){
    		html+="<table class='table'>";
    		html+="<caption>您已收藏了<span id='much'></span>份文档</caption>";
            html+="<tbody>";
            
            if(data.a=="2"){
         	    html+="</tbody>";
                html+="</table>";
                $("#content").html(html);
                $("#much").append(0);
                alert("您当前还没有收藏的文件");
            }else{
            
            $.each(
                data,
                function(i,a){
                	
                	html+="<tr>";
                	html+="<td onclick='feel()' id='qwer'><image src='images/hotai/word.jpg'  width='25px' height='25px'>"+a.f_name+"</image></td>";       
                	html+="<td onclick='feel()'>"+a.uploadTime+"</td>";
                    html+="<td>"+a.fileType+"</td>";
                	html+="<td><image src='images/hotai/share.jpg' width='25px' height='25px' data-target='#shareCollection' data-toggle='modal'>";
                	html+="<image src='images/hotai/delete.png' width='25px' height='25px' onclick='collectionDelete("+a.f_id+","+a.nodeid+")'></td>";
                	html+="</tr>";
                	window.s=++i;
          	     
                }
               
            );
           
            html+="</tbody>";
            html+="</table>";
            $("#content").html(html);
            $("#much").append(window.s);
              }
                       
    	},
    	
    	
    });
     	
    	
    	
    } 
          
    </script>
    
    
    <script type="text/javascript">
    
      function collectionDelete(deleteData,nodeid){
    	  
    	  
    	  var adata={"f_id":deleteData,
    			     "nodeid":nodeid
    	            };
    	  var data=JSON.stringify(adata);
    	  
    	  $.ajax({
    		  type:"POST",
    		  contentType:"application/json",
    		  dataType:"json",
    		  data:data,
    		  url:"collectionDelete.do",
    		  
    		  success:function(data){
    			  if(data.a==1){
    				  alert("删除成功");
    				  window.location.reload();
    			  }else if(data.a==2){
    				  alert("删除失败");
    				  window.location.reload();
    			  }
    			  
    		  },
    		  
    		  
    		  
    	  });
    	  
    	  
    	  
      }
     
    
    </script>
    
    
    
    
    <!-- 写一个分享的方法,放在模态框里把 -->
    <script type="text/javascript">
    /* wx54a2de6f4d4a187e */
    
    
    
    </script>
    
    
    
    
   
   
  <script type="text/javascript">
  
   $(function(){
	   $("#hwj").click(function(){
		   alert("hwj zuishaui");
	   });
   });
   
   function  feel(){
	   alert("baba");
   }
   
   </script> 
     
     

  </head>
  
  <body>

     
     <div id="content"></div>
     
     
     <!-- 分享功能的模态框 -->
     <div class="modal fade" id="shareCollection" tabindex="-1" role="dialog"
		aria-labelledby="newlabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="newlabel">分享功能</h4>
					<div class="modal-body">
				          
				    <div class="social-share" data-sites="weibo,qq,qzone,tencent,wechat,douban,diandian,linkedin" align="center"></div>
						
					</div>
					<div class="modal-footer">
						
					</div>
				</div>
			</div>
		</div>
	</div>
     
    
  </body>
</html>