<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>文件共享页面</title>


<script src="js/jquery.min2.1.4.js"></script>
    <script src="js/jquery.json-2.4.js"></script>
    <script src="js/json2.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/jquery.contextmenu.js"></script>
    <script src="js/pdf.js"></script>
    <script type="text/javascript" src="999/zeroModal.min.js"></script>
   
        
    
    <link rel="stylesheet" type="text/css" href="css/hotai/view.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="css/jquery.contextmenu.css">
    <link rel="stylesheet" type="text/css" href="css/index/floder.css">
    <link rel="stylesheet" type="text/css" href="999/zeroModal.css" >


<!-- 获取所有共享文件 -->
<script type="text/javascript">
  
  
	$(function(){
	  
	    getAll(0,0);
	 
	});
  
  
  
  function getAll(parentId,store){
	var html="";
	var adata={"f_parentid":parentId};
	var data=JSON.stringify(adata);
    document.getElementById('view').value=store;
    
	$.ajax({
	  type:"POST",	
	  contentType:"application/json",
	  dataType:"json",
	  url:"getShareFile.do",
	  data:data,
	  
	  
	  success:function(data){
      	    
		  if(data.a=="2"){
			    alert("请先登录!");
			    window.location.reload("fileShare.html");
		  }else{
		  
          
          $.each(
          data,
          function(i,a){
        	     	  
                 if(a.fileType=="video"){
                	  html+="<li class='aaa' style='text-align:center'>";
                      html+="<img src='images/dota2/video.jpg'  class='hover' style='width:80px;height:60px;' value='"+a.f_parentid+"' id='"+a.f_id+"' ondblclick='_iframe(\""+a.filePath+"\")' >";
                      html+="<div>"+a.f_name+"</div>";
                      html+="</li>";
                 }else if(a.fileType=="doc"){
	                  html+="<li class='aaa' style='text-align:center'>";
	                  html+="<img src='images/dota2/doc.jpg'  class='hover' style='width:80px;height:60px;' value='"+a.f_parentid+"' id='"+a.f_id+"' ondblclick='_iframe(\""+a.filePath+"\")' >";
	                  html+="<div>"+a.f_name+"</div>";
	                  html+="</li>";
                 }else if(a.fileType=="other"){
                	  html+="<li class='aaa' style='text-align:center'>";
                      html+="<img src='images/dota2/other.jpg'  class='hover' style='width:80px;height:60px;' value='"+a.f_parentid+"' id='"+a.f_id+"' ondblclick='_iframe(\"pdf/generic/web/viewer.html?file="+a.filePath+"\")' >";
                      html+="<div>"+a.f_name+"</div>";
                      html+="</li>";
                 }else if(a.fileType=="picture"){
                	  html+="<li class='aaa' style='text-align:center'>";
                      html+="<img src='"+a.filePath+"'  class='hover' style='width:80px;height:60px;' value='"+a.f_parentid+"' id='"+a.f_id+"' onclick='lookBigImg(this)' >";
                      html+="<div>"+a.f_name+"</div>";
                      html+="</li>";
              	   }
                
                        	 
           });
           
	        $("#show").html(html);
		      
		     } 
         },
	
	});
	  	  
  }
  
   function lookBigImg(b){
		$(".shadeImg").fadeIn(500);
		$(".showImg").attr("src",$(b).attr("src"))
	    }
   
   function closeShadeImg(){
		$(".shadeImg").fadeOut(500);
	    }
  
  
</script>


<!-- 返回上一级的功能  -->
<script type="text/javascript">

  $(function(){
	  
	  $("#return").click(function(){
		  
	    var cn=document.getElementById('view').value;
        if(cn==null){
        	getAll(0);
        }else{
        getAll(cn);
        }
		  
		  
	  });
  });

</script>




 <!-- 动态在小窗口中显示文件的方法-->
  <script type="text/javascript">
  function _iframe(a) {
	  
      zeroModal.show({
          title: '在线预览',
          iframe: true,
          url: a,
          width: '80%',
          height: '80%',
          cancel: true,                //允许关闭
          resize: true,                //允许移动
          max: true,                   //允许最大化
          min: true,                   //允许最小化
          dragHandle: 'container',     //点击任意地方框拖动(旺仔摇滚冻即视感)
          opacity: 0.8                 //设置遮罩透明度
          
      });
  }
  
  </script>

</head>
<body>
    
&nbsp;&nbsp;
<caption>&nbsp;&nbsp;资源共享界面</caption>

	<hr style="border-color:black;">
	
	<div id="show"></div>
	
	<div id="view"></div>
	
	<!-- 图片缩放加载区(点击周边将显示的图片关闭) 放在外边显示效果较好-->
	<div class="shadeImg" onclick="javascript:closeShadeImg()">
	<div class=""><img class="showImg" src=""></div>
	</div>
	
	

</body>
</html>