<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=2.0)">
    <title>毛线头</title>
    
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index/style.css">
    
    <script type="text/javascript" src="js/jquery.min2.1.4.js" ></script>
    <script type="text/javascript" src="js/bootstrap.min.js" ></script>  <!-- 首页面样式 -->
<style type="text/css">
.main-container .page-content{
background: transparent;
}
#tp{
background: transparent;
}

</style>

</head>
<body>



 	<!--  验证是否登录  -->
    <script type="text/javascript">
        var adata = "1";
        var arr = "";
        var data = JSON.stringify(adata);
        $.ajax({
            type: "POST",
            contentType:"application/json",
            url: "iflogin.do",
            data: data,
            dataType: "json",
            success: function(data){
                if(data.nickname!=null){
                	sessionStorage.setItem('username', data.nickname);
                    arr = "<div class='navimg'><div class='btn-group' style='back'><a href='#' style='width:45px;overflow:hidden;white-space:nowrap;'>"+data.nickname+"</a><span class='caret' id='b_nav'></span><ul class='dropdown-menu' role='menu' id='ee' style='background-color:rgba(0,0,0,0);min-width: 16px;'><li><a onclick='quit();' class='zc'>注&nbsp;&nbsp;销</a></li></ul></div></div>"
                    $("#nickname").html(arr);
                    $(document).ready(function(){
                       $("#b_nav").click(function(){
               			$("#ee").toggle();
               			});
               		});
                }
            },
        });
	        
	        
        //登录框下拉
        $(document).ready(function(){
        	
	        $("#b_nav").click(function(){
	        	$("#ee").toggle();
			});
	        
		});
	        
	      
        
        $(function(){
            //点击超链接局部刷新页面
            $(".navimg>a").click(function(){
            	if(sessionStorage.getItem("username") == null){
            		alert("请先登录");
            		return false;
            	}
            	$(".navimg a").css("border-bottom","solid rgba(0,0,0,0) 2px");
            	$(this).css("border-bottom","solid #DA4E43 2px");
            	//$(".top").css('background-image',' linear-gradient(90deg, black, red)');
            	$("#view").load(this.href); 
                return false;
            });
        });
	        
	    </script>
    
    
    
		<!-- 重写一个退出功能 -->
		<script type="text/javascript">
		
		  function quit(){
			  
			  $.ajax({
		          type: "POST",
		          contentType:"application/json",
		          url: "quitLogin.do",
		          data: data,
		          dataType: "json",
		          success: function(data){
		          	
		          	if(data.a=="1"){
		          		sessionStorage.clear();
		          		location.href = "index.do";	
		          	  }
		          	},
		        });
		  }
		
		</script>
	
	
	
	
    <!-- 手机页面下拉框显示,监听滚动条 -->
	<script>
		$(document).ready(function(){
		$("#btn_nav").click(function(){
		$("#example-navbar-collapse").toggle();
		});
		});
		
		window.onscroll = function(){
			var t = document.documentElement.scrollTop || document.body.scrollTop;
		       
	        if( t == 0 ) {
	        	$("#tp").css("background","transparent");
	        } else {
	        	$("#tp").css("background","#f3f3f3");
	        }
	    };
	</script>
	
	
	
	<!-- 顶部导航栏  -->
    <div class="top">
    	
    	
    
        <div class="row navbar-fixed-top" style="width: 100%;margin-left: 0;" id="tp">
            <div class="col-md-7">
                <p id="logo_o" class="logo_n"><a style="color:#D5362A;text-decoration: none;
                ">毛</a>线头 </p>
            </div>
            <div class="col-md-5 text-center" style="display: flex">
                <div class="navimg"><div><a class="a_now" href="index.do">首&nbsp;&nbsp;页</a></div></div>
                <div class="navimg"><a href="view.do">资&nbsp;&nbsp;源</a></div>
                <div class="navimg" style="white-space:nowrap;"><a href="mindmap2.do">知识图谱</a></div>
                <div class="navimg"><a href="study.do">学&nbsp;&nbsp;习</a></div>
				<div class="navimg" id='nickname'>
	                <div class="btn-group" style="back">
						<a href="testLogin.do">登&nbsp;&nbsp;录</a> <span class="caret" id="b_nav"></span>
						<ul class="dropdown-menu" role="menu" id="ee" style="background-color:rgba(0,0,0,0); min-width: 16px;">
							<li><a href="register.do" class="zc">注&nbsp;&nbsp;册</a></li>
						</ul>
					</div>
                </div>
            </div>
        </div>
        
       
       
        <!-- 手机端导航栏（bug） -->
       	<div class="navbar navbar-default navbar-fixed-top" id="dnav">
       	<div class="nav navbar-header navbar-fixed-top ">
           <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" id="btn_nav">
           <span class="sr-only"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           </button>
           </div>
           <div class="collapse navbar-collapse" id="example-navbar-collapse" style="float:left;">
               <ul class="nav navbar-nav ">
                   <li><a href="view.do">资&nbsp;&nbsp;源</a></li>
                   <li><a href="mindmap2.do">知识图谱</a></li>
                   <li><a href="study.do">学&nbsp;&nbsp;习</a></li>
                   <li><a href="testLogin.do">登&nbsp;&nbsp;录</a></li>
                   <li><a href="register.do" class="zc">注&nbsp;&nbsp;册</a></li>
               </ul> 
          </div>
        </div>
           
           
            
        <div id="view">
        <div class="row" style="height:605px;width: 100%;margin-left: 0;">
            <div class="col-md-10 col-md-offset-1 get-it" style="height: 300px;margin-top: 5vh;">
                <h1 class="logo">毛线头</h1>
                <p class="top_s">A new idea of learning</p>
                <p class="top_p">Easy to use documentation mind graph real-time collaborative editing.</p>
                <center><button onclick="window.location.href='register.do'" class="signup-btn 
                btn btn-primary btn-block btn-lg btn-signin" id="btn1" data-track-category="landing"
                 data-track-action="test-now-landing-top" type="submit">Try now</button></center>
                <p class="top_p" style="margin-top: 5px;"><a href="#middle" style="transition: 1s;
                "><span class="glyphicon glyphicon-triangle-bottom" style="position: relative;top:5px;
                "></span>learn more</a></p>
            </div>
        </div>
        
        
  
    <div class="row">
    <a id="middle">&nbsp;</a>
    <h3 class="heart">Teams<a>❤</a>University</h3>
    </div>
    
    
    
    <!-- 动图模块(第一部分)左 -->
    <div class="row" style="width: 100%;margin-left: 0;padding-bottom: 50px;">
        <div class="col-md-6">
            <img src="images/gif/GIF1.gif" style="max-width: 100%;height: auto;border:solid 1px #CCC; box-shadow: #E8E8E8 3px 4px 10px 0;">
        </div>
        <div class="col-md-6 text-center" style="font-family:'方正舒体';margin-bottom:20px;">
            <h2>毛线头</h2><h3>Knowledge Graph</h3>
        </div>
        <div class="txt" style="font-family:'华文楷体'"><p>构建清晰而个性化的知识体系.
                      致力于将抽象的内容转换为更为清晰的图结构.</p>
         <p>Mind Map充分运用左右脑的机能，利用记忆、阅读、思维的规律，协助人们在科学与艺术、逻辑与想象之间平衡发展，从而开启人类大脑的无限潜能.
         </p>
         <p>用户可实时构建,调整,分享，讨论相关的知识图谱</p>
        </div>
    </div>
    
    
    
    <!-- 动图模块(第二部分)右 -->
    <div class="row" style="width: 100%;margin-left: 0;background:#F2F2F2;
    padding-top: 50px;padding-bottom: 50px;">
        <div class="col-md-6">
           <div class="text-center" style="font-family:'方正舒体'">
            <h2>毛线头</h2><h3>Knowledge Point</h3>
        </div>
        <div class="txt" style="font-family:'华文楷体'">
        <p>知识点描述基于Mind Map的每个节点</p>
        <p>在知识图谱的每个具体的节点上可添加相关的描述,图片，或是表格.</p>
        <p>协助丰富知识图谱的内容</p>
        </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="images/gif/GIF3.gif" style=" max-width: 100%;height: auto;border:solid 1px #CCC;
            box-shadow: #E8E8E8 3px 4px 10px 0;">
        </div>
    </div>
    
    
    
    <!-- 动图模块(第三部分)左 -->
    <div class="row" style="width: 100%;margin-left: 0;    padding-top: 50px;padding-bottom: 50px;">
        <div class="col-md-6">
            <img src="images/gif/GIF2.gif" style="max-width: 100%;height: auto;border:solid 1px #CCC;
            box-shadow: #E8E8E8 3px 4px 10px 0;">
        </div>
        <div class="col-md-6">
        <div class="text-center" style="font-family:'方正舒体'">
            <h2>毛线头</h2><h3>Mind Share</h3>
        </div>
        <div class="txt" style="font-family:'华文楷体'"><p>知识图谱分享.</p>
        <p>可快速的根据知识图谱的名字和用户的ID，搜索到知识图谱社区中分享过的知识图谱</p>
        <p>查看他人的知识图谱，取长补短，归纳学习</p>
        </div>
        </div>
    </div>
    
    
    
    <!-- 推荐使用理由 -->
    <div class="gray-background" style="padding-bottom:40px;background: #F2F2F2"><div class="container">
        <h2 class="text-center extra-margin who">谁适合使用本系统？</h2>
        <div class="row motivation-list">
            <div class="col-md-4 col-sm-6 motivation-item">
                <div class="motivation-container box">
                    <h2><a href="#" style="text-decoration: none;color: inherit;">学生(Student)</a></h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="motivation-description ">学生可利用本系统实时记录并调整自己的知识图谱,使抽象
                                                                  的概念和内容以图的形式展现，更加清晰</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 motivation-item">
                <div class="motivation-container box">
                    <h2><a href="#" style="text-decoration: none;color: inherit;">老师(Teacher)</a></h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="motivation-description">教师可构建标准的知识图谱，并实时分享给自己的学生，供学
                                                                   生参考，还可在线讨论，使之更完善.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 motivation-item">
                <div class="motivation-container box">
                    <h2><a href="#" style="text-decoration: none;color: inherit;">工程师(Engineer)</a></h2>
                    <div class="row"><div class="col-xs-12">
                        <p class="motivation-description">工程师在平时的工作中经常会遇到比较抽象的概念和知识体系，可利
                                                        用知识图谱将之形象化，有助于工作效率的提升
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="clearfix"></div>
    </div>

<div class="gray-background" style="padding-bottom:40px;background: #FFF;font-family:'方正舒体';"><div class="container">
        <h2 class="text-center extra-margin who">为什么选择本系统？</h2>
    </div>
    
    
    
    <div class="row btn_t" style="margin-left: 30px;">
        <div class="col-md-6 text"><div class="wrap"><span class="glyphicon glyphicon-send"></span>
        <h2>可视化</h2><h3></h3>
        </div>
        <div class="txt">
        <p>知识图谱采取可视化的方式，将抽象的逻辑和概念形象化</p>
        <p>形象的将之展现出来，帮助使用者建立清晰的知识体系结构</p>
        </div>
        </div>
        <div class="col-md-6 text"><div class="wrap"> <span class="glyphicon glyphicon-star-empty"></span>
        <h2>高效</h2><h3></h3>
        </div>
            <div class="txt">
            <p>实时的建立并调整知识图谱</p>
            <p>用户可随时随地查看,修改自己的知识图谱</p>
            </div>
        </div>
    </div>
    
    
    
    <div class="row btn_t" style="margin-left: 30px;padding-bottom: 20px;background: #FFF;">
        <div class="col-md-6 text"><div class="wrap"><span class="glyphicon glyphicon-tags"></span>
        <h2>简洁</h2><h3></h3>
        </div>
            <div class="txt">
            <p>本系统采用简洁的页面，让使用者能够方便清晰的查看自己的知识图谱</p>
            <p>同时简化操作流程,可随时调整节点间的从属关系和位置</p>
            </div>
        </div>
        <div class="col-md-6 text"><div class="wrap"><span class="glyphicon glyphicon-transfer"></span>
        <h2>在线讨论</h2><h3></h3>
        </div>
            <div class="txt">
            <p>根据不同的知识图谱，可在线进行讨论</p>
            <p>更好的收集相关图谱的意见，以聊天的形式不断的补充和完善相关知识图谱</p>
            </div>
        </div>
    </div>
    
    
    
    <div class="row">
        <center><button onclick="window.location.href='register.do'" 
        class="signup-btn btn btn-primary btn-block btn-lg btn-signin" data-track-category="landing" 
        data-track-action="test-now-landing-top" style="font-family:'';">Try now</button></center>
    </div>
</div>
    <div class="row foot" >
        <div class="col-md-4 col-sm-6 motivation-item">
            <p style="font-size: 24px"><b><a style="color:#D5362A;text-decoration: none;
            ">毛</a>线头 </p>
            <p class="links" style="font-size: 15px;padding-top: 30px;"> 首页 · 资源 · 知识图谱 · 注册 · 登录 </p>
            <p class="company-name" style="padding-top: 30px;">Mind Graph China(haftungsbeschr?nkt) ?2018</p>

        </div>
        <div class="col-md-4 col-sm-6 motivation-item">
            <p style="font-size: 24px"><a style="color:#D5362A;text-decoration: none;">关于</a>我们:</p><p>&nbsp;</p>
            <p class="links" style="font-size: 15px">毛线头是一个以知识图谱为主的在线学习系统,用<p>&nbsp;</p>户可根据自己的需求绘制个性化的知识图谱，构建清<p>&nbsp;</p>晰的知识体系.</p>
        </div>
        <div class="col-md-4 col-sm-6 motivation-item">
            <p style="font-size: 24px"><a style="color:#D5362A;text-decoration: none;">联系</a>我们:</p><p>&nbsp;</p>
            <p class="links" style="font-size: 15px">河北省-张家口市-河北北方学院-B505</p>
            <p style="font-size: 24px;padding-top: 30px;"><a style="color:#D5362A;text-decoration: none;">联系</a>邮箱:</p><p>&nbsp;</p>
            <p class="links" style="font-size: 15px">961946407@qq.com</p>
        </div>
    </div>
</div>
</div>
</body>
</html>