<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>知识图谱管理系统</title>

<script type="text/javascript" src="scripts/jquery/jquery-1.7.1.js"></script>
<script type="text/javascript" src="scripts/zTree/jquery.ztree.core-3.2.js"></script>
<script type="text/javascript" src="scripts/authority/commonAll.js"></script>

<link href="style/authority/main_css.css" rel="stylesheet" type="text/css" />
<link href="style/authority/zTreeStyle.css" rel="stylesheet" type="text/css">


	<!-- 退出本系统 -->
	<script type="text/javascript">
	
		function logout(){
		
		 $.ajax({
		        type: "POST",
		        contentType:"application/json",
		        url: "quitLogin.do",
		        dataType: "json",
		        success: function(data){
		        	if(data.a=="1"){
		        		location.href = "index1.do";	
		        	}
		          },
		        });
		}
	
	  </script>
	  
	  
	  
	  <!-- 判断是否登录 -->
	  <script type="text/javascript">
	  
	  function admin(){
		  var html="";
		  $.ajax({
              type: "POST",
              contentType:"application/json",
              url: "iflogin.do",
             
              dataType: "json",
              success: function(data){
            	  if(data.nickname!=null){
            	     html=""+data.nickname+"";
                  } else {
                	  html="未登录";       
                	  }
            	  $("#admin").html(html);
            }
              
            });
		  
	  }
	  
	  </script>
  
  
  <!-- 获取当前日期 -->
  <script type="text/javascript">
  
	  function  getDate01(){
			var time = new Date();
			var myYear = time.getFullYear();
			var myMonth = time.getMonth()+1;
			var myDay = time.getDate();
			if(myMonth < 10){
				myMonth = "0" + myMonth;
			}
			if(myDay < 10){
				myDay = "0" + myDay;
			}
			document.getElementById("yue_fen").innerHTML =  myYear + "." + myMonth;
			document.getElementById("day_day").innerHTML =  myYear + "." + myMonth + "." + myDay;
		}
  
  </script>
  
  
    <!-- zTree插件加载目录的处 -->
    <script type="text/javascript">
      
     admin();
     
     var zTree;
     
     var setting = {
			view: {
				dblClickExpand: false,
				showLine: false,
				expandSpeed: ($.browser.msie && parseInt($.browser.version)<=6)?"":"fast"
			},
			data: {
				key: {
					name: "resourceName"
				},
				simpleData: {
					enable:true,
					idKey: "resourceID",
					pIdKey: "parentID",
					rootPId: ""
				}
			},
			callback: {
				onClick: zTreeOnClick			
			}
	};
    
     
		var curExpandNode = null;
		function beforeExpand(treeId, treeNode) {
			var pNode = curExpandNode ? curExpandNode.getParentNode():null;
			var treeNodeP = treeNode.parentTId ? treeNode.getParentNode():null;
			for(var i=0, l=!treeNodeP ? 0:treeNodeP.children.length; i<l; i++ ) {
				if (treeNode !== treeNodeP.children[i]) {
					zTree.expandNode(treeNodeP.children[i], false);
				}
			}
			while (pNode) {
				if (pNode === treeNode) {
					break;
				}
				pNode = pNode.getParentNode();
			}
			if (!pNode) {
				singlePath(treeNode);
			}
	
		}
		
		

		function singlePath(newNode) {
			if (newNode === curExpandNode) return;
			if (curExpandNode && curExpandNode.open==true) {
				if (newNode.parentTId === curExpandNode.parentTId) {
					zTree.expandNode(curExpandNode, false);
				} else {
					var newParents = [];
					while (newNode) {
						newNode = newNode.getParentNode();
						if (newNode === curExpandNode) {
							newParents = null;
							break;
						} else if (newNode) {
							newParents.push(newNode);
						}
					}
					if (newParents!=null) {
						var oldNode = curExpandNode;
						var oldParents = [];
						while (oldNode) {
							oldNode = oldNode.getParentNode();
							if (oldNode) {
								oldParents.push(oldNode);
							}
						}
						if (newParents.length>0) {
							for (var i = Math.min(newParents.length, oldParents.length)-1; i>=0; i--) {
								if (newParents[i] !== oldParents[i]) {
									zTree.expandNode(oldParents[i], false);
									break;
								}
							}
						}else {
							zTree.expandNode(oldParents[oldParents.length-1], false);
						}
					}
				}
			}
			curExpandNode = newNode;
		}
		
		
		
		function onExpand(event, treeId, treeNode) {
			curExpandNode = treeNode;
		}		

		
		function onExpand(event, treeId, treeNode) {
			curExpandNode = treeNode;
		}
		
		
		//用于捕获节点被点击的事件回调函数
		function zTreeOnClick(event, treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("dleft_tab1");
			zTree.expandNode(treeNode, null, null, null, true);
			// 规定：如果是父类节点，不允许单击操作
			if(treeNode.isParent){
				return false;
			}
			// 如果节点路径为空或者为"#"，不允许单击操作
			if(treeNode.accessPath=="" || treeNode.accessPath=="#"){
				return false;
			}
		    // 跳到该节点下对应的路径, 把当前资源ID(resourceID)传到后台，写进Session
		    rightMain(treeNode.accessPath);
		    
		    if( treeNode.isParent ){
			    $('#here_area').html('当前位置：'+treeNode.getParentNode().resourceName+'&nbsp;>&nbsp;<span style="color:#1A5CC6">'+treeNode.resourceName+'</span>');
		    }else{
			    $('#here_area').html('当前位置：系统&nbsp;>&nbsp;<span style="color:#1A5CC6">'+treeNode.resourceName+'</span>');
		    }
		};		
		
		
		//选择标签
		function switchTab(tabpage,tabid){
			var oItem = document.getElementById(tabpage).getElementsByTagName("li"); 
			    for(var i=0; i<oItem.length; i++){
			        var x = oItem[i];    
			        x.className = "";
				}
			    if('left_tab1' == tabid){
					$(document).ajaxStart(onStart).ajaxSuccess(onStop);
					// 异步加载"业务模块"下的菜单
				  	loadMenu('教育', 'dleft_tab1',1);
				}else  if('left_tab2' == tabid){
					$(document).ajaxStart(onStart).ajaxSuccess(onStop);
					// 异步加载"系统管理"下的菜单
					loadMenu('笔记', 'dleft_tab1',2);
				}else  if('left_tab3' == tabid){
					$(document).ajaxStart(onStart).ajaxSuccess(onStop);
					// 异步加载"其他"下的菜单
					loadMenu('资源', 'dleft_tab1',3);
				} else  if('left_tab4' == tabid){
					$(document).ajaxStart(onStart).ajaxSuccess(onStop);
					// 异步加载"其他"下的菜单
					loadMenu('消息', 'dleft_tab1',4);
				}  else  if('left_tab5' == tabid){
					$(document).ajaxStart(onStart).ajaxSuccess(onStop);
					// 异步加载"其他"下的菜单
					loadMenu('工作', 'dleft_tab1',5);
				} 
			}
			
			
			$(document).ready(function(){
				$(document).ajaxStart(onStart).ajaxSuccess(onStop);
				/** 默认异步加载"业务模块"目录  **/
				loadMenu('资源', "dleft_tab1",1);
				// 默认展开所有节点
				if( zTree ){
					// 默认展开所有节点
					zTree.expandAll(true);
				}
			});		
    
			
			//根据加载菜单的id加载相应的菜单
			function loadMenu(resourceType, treeObj,ID){
				
		          // 如果返回数据不为空，加载"业务模块"目录
		          var  adata="";
		          var data2="";
		          adata={"grandparentID":ID};
		          var data2=JSON.stringify(adata);
		          $.ajax({
		              type: "POST",
		              contentType:"application/json",
		              url: "getFunctions.do",
		              data: data2,
		              dataType: "json",
		              success: function(data){
		            if(data != null){
		                // 将返回的数据赋给zTree
		                $.fn.zTree.init($("#"+treeObj), setting, data);
		             
		                zTree = $.fn.zTree.getZTreeObj(treeObj);
		                if( zTree ){
		                    // 默认展开所有节点
		                    zTree.expandAll(true);
		                }
		            }
		            }
		            });
				}			
			
			function onStart(){
				$("#ajaxDialog").show();
			}

			
			function onStop(){
				$("#ajaxDialog").hide();
			}			
			
			
    </script>



	<script type="text/javascript">
		$(function(){
			$('#TabPage2 li').click(function(){
				var index = $(this).index();
				$(this).find('img').attr('src', 'images/common/'+ (index+1) +'_hover.jpg');
				$(this).css({background:'#fff'});
				$('#nav_module').find('img').attr('src', 'images/common/module_'+ (index+1) +'.png');
				$('#TabPage2 li').each(function(i, ele){
					if( i!=index ){
						$(ele).find('img').attr('src', 'images/common/'+ (i+1) +'.jpg');
						$(ele).css({background:'#363636'});
					}
				});
				// 显示侧边栏
				switchSysBar(true);
			});
			
			// 显示隐藏侧边栏
			$("#show_hide_btn").click(function() {
		        switchSysBar();
		    });
		});
		
		/**隐藏或者显示侧边栏**/
		function switchSysBar(flag){
			var side = $('#side');
	        var left_menu_cnt = $('#left_menu_cnt');
			if( flag==true ){	// flag==true
				left_menu_cnt.show(500, 'linear');
				side.css({width:'280px'});
				$('#top_nav').css({width:'77%', left:'304px'});
	        	$('#main').css({left:'280px'});
			}else{
		        if ( left_menu_cnt.is(":visible") ) {
					left_menu_cnt.hide(10, 'linear');
					side.css({width:'60px'});
		        	$('#top_nav').css({width:'100%', left:'60px', 'padding-left':'28px'});
		        	$('#main').css({left:'60px'});
		        	$("#show_hide_btn").find('img').attr('src', 'images/common/nav_show.png');
		        } else {
					left_menu_cnt.show(500, 'linear');
					side.css({width:'280px'});
					$('#top_nav').css({width:'77%', left:'304px', 'padding-left':'0px'});
		        	$('#main').css({left:'280px'});
		        	$("#show_hide_btn").find('img').attr('src', 'images/common/nav_hide.png');
		        }
			}
		}
	</script>
  
</head>
<body onload = "getDate01()">
  
  <!-- head -->
  <div id="top">
     <div id="top_logo"> 知识图谱管理系统</div>      <!-- logo部分 -->
     
     <!-- 日期及退出按钮部分 -->
     <div id="top_links">
         <div id="top_op">
			<ul>
				<li>
					<img alt="当前用户" src="images/common/user.jpg">：
					<span id="admin"></span>
				</li>
				<li>
					<img alt="事务月份" src="images/common/month.jpg">：
					<span id="yue_fen"></span>
				</li>
				<li>
					<img alt="今天是" src="images/common/date.jpg">：
					<span id="day_day"></span>
				</li>
			</ul> 
	     </div>
	     
	     <!-- 退出按钮 -->
	     <div id="top_close">
				<a href="javascript:void(0);" onclick="logout();" target="_parent">
					<img alt="退出系统" title="退出系统" src="images/common/close.jpg" style="position: relative; top: 10px; left: 25px;">
				</a>
		 </div>
     
     </div>
     
  </div>


  <!-- slide(image contact) -->
  <div id="side">
  
       <div id="left_menu">
       
            <!-- 侧边5个菜单 -->
            <ul id="TabPage2" style="height:200px; margin-top:50px;">
                <li id="left_tab1" class="selected" onClick="javascript:switchTab('TabPage2','left_tab1');" title="教育">
					<img alt="教育" title="教育" src="images/common/1_hover.jpg" width="33" height="31">
				</li>
				<li id="left_tab2" onClick="javascript:switchTab('TabPage2','left_tab2');" title="笔记">
					<img alt="笔记" title="笔记" src="images/common/2.jpg" width="33" height="31">
				</li>		
				<li id="left_tab3" onClick="javascript:switchTab('TabPage2','left_tab3');" title="资源">
					<img alt="资源" title="资源" src="images/common/3.jpg" width="33" height="31">
				</li>
				<li id="left_tab4" onClick="javascript:switchTab('TabPage2','left_tab4');" title="消息">
					<img alt="消息" title="消息" src="images/common/4.jpg" width="33" height="31">
				</li>
				<li id="left_tab5" onClick="javascript:switchTab('TabPage2','left_tab5');" title="工作">
					<img alt="工作" title="工作" src="images/common/5.jpg" width="33" height="31">
				</li>
            </ul>
       
            <!-- 显示/隐藏菜单按钮 -->
            <div id="nav_show" style="position:absolute; bottom:0px; padding:10px;">
				<a href="javascript:;" id="show_hide_btn">
					<img alt="显示/隐藏" title="显示/隐藏" src="images/common/nav_hide.png" width="35" height="35">
				</a>
			</div>
	   </div>          <!-- left menu end -->
			
			<!-- 显示左侧菜单栏在上的标题和下拉的树菜单 -->
	        <div id="left_menu_cnt">
			    <div id="nav_module">
			 		<img src="images/common/module_1.png" width="210" height="58"/>
			 	</div>
			 	<div id="nav_resource">
			 		<ul id="dleft_tab1" class="ztree"></ul>
			 	</div>
			 </div>
       
       </div>           <!-- slide menu end -->
       


  <!-- side menu start -->
  <div id="top_nav">
 	 <span id="here_area">当前位置：系统&nbsp;>&nbsp;系统介绍</span>
  </div>
  <!-- 漫天乱飘的小字儿 -->
  <div id="main">
     <iframe name="right" id="rightMain" src="introduce.do" frameborder="no" scrolling="auto" width="100%" height="100%" allowtransparency="true"/>
  </div>          





</body>
</html>