<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mind Map</title>
    <link rel="stylesheet" type="text/css" href="js/mindmap/css/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="js/mindmap/css/jsmind.css"/>
</head>
<body ng-app="mind" class="main-container">

    <div ng-view ></div>

    <!--mindjs-->
    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/mindmap/jquery.easyui.min.js"></script>
    <script src="js/mindmap/jsmind.js"></script>
    <script src="js/mindmap/jsmind.draggable.js"></script>
    <script src="js/mindmap/jsmind.screenshot.js"></script>
    <!-- 基础js -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/private/mind/mind.js"></script>


</body>
</html>