<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mind Map</title>
    <link rel="stylesheet" type="text/css" href="mindmap/css/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="mindmap/css/jsmind.css"/>
    <link rel="stylesheet" type="text/css" href="mindmap/css/mind.css"/>
    <!-- Icons-->
    <link href="node_modules/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
</head>
<body ng-app="mind" class="main-container">

    <!-- 侧导航栏 -->
    <div class="l_nav">
        <ul>
            <li ng-click="newMap()" title="新建" ><i class="icon-note hovli bigger-120"></i></li>
            <li onclick="getMyMindMap(1);" title="我的知识图谱"><span class="icon-user hovli"></span></li>
            <li onclick="getShareMindMap(1)" title="查看分享图谱"><i class="icon-clock hovli bigger-120"></i></li>
            <li onclick="BrowseFolder();" title="打开文件"><i class="icon-folder hovli bigger-120"></i></li>
            <input type="file" id="file_input" onchange="open_file();" style="display:none;"  accept=".jm">
            <li onclick="save_file();" title="生成文件"><i class="icon-doc hovli bigger-120"></i></li>
            <li onclick="screen_shot();" title="生成图片"><i class="icon-camera hovli"></i></li>
            <li onclick="chat();" title="讨论"><i class="icon-bubbles hovli bigger-120"></i></li>
            <li onclick="sharemindmap();" title="分享"><i class="icon-share hovli bigger-120"></i></li>
        </ul>
    </div>

    <div ng-view ></div>

    <!--mindjs-->
    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="mindmap/jquery.easyui.min.js"></script>
    <script src="mindmap/jsmind.js"></script>
    <script src="mindmap/jsmind.draggable.js"></script>
    <script src="mindmap/jsmind.screenshot.js"></script>
    <!-- 基础js -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/private/mind/mind.js"></script>



</body>
</html>