<!DOCTYPE html>
<html>
  <head>
    <title>search.html</title>
	
	<meta charset="utf-8">
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <script src="js/jquery.min2.1.4.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    
    
    <style type="text/css">
    #container{
        position:absolute;
        left:50%;
        top: 40%;
    }
    #content{
        float:left;
        position:relative;
        right:50%;
    }
    input{
        border:0;
        width:288px;
        height:30px;
        font-size:16px;
        padding:0 5px;
        line-height:30px;
    }
    .item{
        padding:3px 5px;
        cursor:pointer;
    }
    .addbg{
        background:#87A900;
    }
    .first{
        border:solid #87A900 2px;
        width:300px;
    }
    #append{
        border:solid #87A900 2px;
        border-top:0;
        display:none;
    }
  </style>
  
  
  <script type="text/javascript">
  
  //用来把取出的数据放入数组中，方便一会动态显示
     $(function{
       
       public var array[];
       var adata={"f_parentid":0};
       var data=JSON.stringify(adata);
     
      $.ajax(function(){
        type:"POST",
        dataType:"json",
        url:"getAllFile.do",
        contentType:"application/json",      
        data:data,
      
        success:function(data){
        
           $.each(
           
           data,
           
           function(i,a){
           array[i]=a.filename;
           
           });
        
        
        },
      
      
      });
     
   
     
     });
  
  
  
  
  


$(function(){
    $(document).keydown(function(e){
        e = e || window.event;
        var keycode = e.which ? e.which : e.keyCode;
        if(keycode == 38){
            if(jQuery.trim($("#append").html())==""){
                return;
            }
            movePrev();
        }else if(keycode == 40){
            if(jQuery.trim($("#append").html())==""){
                return;
            }
            $("#kw").blur();
            if($(".item").hasClass("addbg")){
                moveNext();
            }else{
                $(".item").removeClass('addbg').eq(0).addClass('addbg');
            }
           
        }else if(keycode == 13){
            dojob();
        }
    });

		    var movePrev = function(){
		        $("#kw").blur();
		        var index = $(".addbg").prevAll().length;
		        if(index == 0){
		            $(".item").removeClass('addbg').eq($(".item").length-1).addClass('addbg');
		        }else{
		            $(".item").removeClass('addbg').eq(index-1).addClass('addbg');
		        }
		    }
		   
		    var moveNext = function(){
		        var index = $(".addbg").prevAll().length;
		        if(index == $(".item").length-1){
		            $(".item").removeClass('addbg').eq(0).addClass('addbg');
		        }else{
		            $(".item").removeClass('addbg').eq(index+1).addClass('addbg');
		        }
		       
		    }
		   
		    var dojob = function(){
		        $("#kw").blur();
		        var value = $(".addbg").text();
		        $("#kw").val(value);
		        $("#append").hide().html("");
		    }
		});
		function getContent(obj){
		    var kw = jQuery.trim($(obj).val());
		    if(kw == ""){
		        $("#append").hide().html("");
		        return false;
		    }
		    var html = "";
		    for (var i = 0; i < array.length; i++) {
		        if (array[i].indexOf(kw) >= 0) {
		            html = html + "<div class='item' onmouseenter='getFocus(this)' onClick='getCon(this);'>" + array[i] + "</div>"
		        }
		    }
		    if(html != ""){
		        $("#append").show().html(html);
		    }else{
		        $("#append").hide().html("");
		    }
		}
		function getFocus(obj){
		    $(".item").removeClass("addbg");
		    $(obj).addClass("addbg");
		}
		function getCon(obj){
		    var value = $(obj).text();
		    $("#kw").val(value);
		    $("#append").hide().html("");
		}
</script>

  </head>
  
  <body>
    
    <div id="container">
    <div id="content">
        <h3 align="center">快速搜索</h3>
        <div class="first" >
        <input id="kw" onKeyup="getContent(this);">
        </div>
        <br>
        <div align="center"><button id="search" class="btn btn-primary">搜索一下</button></div>
        <div id="append"></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        
    </div>
    </div>
    
    
    
    
    
  </body>
</html>
