<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" href="mindmap/jsmind.css">
<link rel="stylesheet" type="text/css" href="mindmap/easyui.css">
<link rel="stylesheet" type="text/css" href="mindmap/icon.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="/ifont/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="mindmap/style.css" />
<link rel="stylesheet" type="text/css" href="mindmap/noJS.css" />

<style type="text/css">
.map-block{
	width: 1200px;
	margin: 0 auto;
}
.map-block .block h2{
	margin: 0;
	padding-top: 20px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
.map-block .block small{
	/*float: right;*/
	margin-top: 15px;
	/*margin-right: 20px;*/
	font-size: 15px;
	/*color: #fff;*/
	color: #666;
}
.block .btn{
	width: 120px;
	height: 30px;
	margin: 15px 50%;
	transform: translate(-50%,0);
	padding: 0;
	border:1px solid #ea9d38;
	color: #ea9d38;
	font-size: 15px;
	line-height: 30px;
	
}
.pagination{
	position: absolute;
	right: 20px;
	bottom: 0;
}
	.study-head{
		margin: 60px 0 0 0;
		border-bottom: 1px solid #bbb;
	}
	.study-head .study-title{
		height: 50px;
		padding-left: 30px;
		line-height: 50px;
		font-size: 30px;
		font-weight: 700;
	}
	.map-block .col-xs-4 .block{
		position: relative;
		width: 340px;
		height: 260px;
		margin: 10px;
		box-shadow: 0 1px 3px #ccc;
	}
	.block .block-icon{
		position: absolute;
		width: 90px;
		height: 90px;
		margin: 45px 125px;
		background: #fff;
		border-radius: 45px;
	}
	.block .block-icon img{
		width: 70px;
		height: 70px;
		margin: 1px 8px;
	}
	.block .block-text{
		text-align: center;
	}
	.block-text h4{
		margin-top: 50px;
	}
	.pagination li:hover{
		cursor: pointer;
	}
</style>
</head>
<body>
    <!-- 搜索框 -->
	<div class="study-head" id="studyHead">
		<div class="row" style="width: 600px;margin: 70px auto 20px;">
			<input type="text" class="form-control" id="searchText" 
			style="width: 400px;float: left;">
			<button type="button" class="btn btn-primary" id="search" style="float: left;" onclick="searchMindmap(1);">
			<i class="fa fa-search"></i>&nbsp;搜索</button>
		</div>
	</div>


	<div class="row map-block" id="jsmind_container" 
	style="width:100%;margin-left:10px;height:950px;position: relative;"></div>

	<!-- 显示笔记的小窗口（点击后加载右侧的框） -->
	<div id="biji" style="width:703px;height:450px">
		<iframe id="showbiji" src="knowledgeResources.do" marginwidth="0" marginheight="0"
			frameborder="0" width="100%" scrolling="yes" height="100%"></iframe>
	</div>

	<input id="mapid" type="text" value="" hidden />
	<input id="nodeid" type="text" value="" hidden />


<!-- js文件加载和css head里主要是用来响应调用  body里用来渲染界面 -->
 	<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="mindmap/jquery.easyui.min.js" type="text/javascript"></script>
	<script src="mindmap/jsmind.js" type="text/javascript"></script>
	<script src="mindmap/jsmind.draggable.js" type="text/javascript"></script>
	<script type="text/javascript" src="mindmap/jsmind.screenshot.js"></script>
<script type="text/javascript">

	$(function(){
		getShareMindMap(1);
		$("#biji").hide();
	    clearViewCss();
	});

	var jm = null;
    open_empty();
		/* <!-- 打开思维导图的框 --> */
		function open_empty() {
			var options = {
				container : 'jsmind_container',
				theme : 'greensea',
				editable : false
			}
			jm = jsMind.show(options);
		}

		/* <!-- 针对切换为思维导图界面所做的函数 --> */
	    function clear() {
		   $("#jsmind_container").html("");
	    }

	    /* 清除边框样式 */
	    function clearViewCss() {
            $("#view").css("box-shadow","none");
            $("#view").css("margin","50px 0 0 0");
        }
        /* 添加边框样式 */
        function addViewCss() {
            $("#view").css("box-shadow","0 0 3px 2px #dfdfdf");
            $("#view").css("margin","70px 15px 10px 15px");
        }

	    /* <!-- 分享专用 --> */
	    function open_emptyShare() {
			var options = {
				container : 'jsmind_container',
				theme : 'danger',
				editable : false
			}
			jm = jsMind.show(options);
		}

	    /* <!-- 针对切换为思维导图界面所做的函数 --> */
	    function clearShare() {
		   $("#jsmind_container").html("");
		   open_emptyShare();
	    }

	    /* 获取分享过的思维导图 */ //存在一个很大的弊端就是分享后其它用户也可操纵它，不为只读状态,右键菜单的锅
		function open_ajax(mapid,name,nodename) {
		clearShare();
		var studyHtml = '<div class="study-title">知识图谱—'+nodename+'</div>';
		$("#studyHead").html(studyHtml);
		$("#view").css("box-shadow","0 0 3px 2px #dfdfdf");
		$("#view").css("margin","70px 15px 10px 15px");
		$('#mapid').attr("value",mapid);
		var da={"nodeid":mapid,
				"userid":name
				};

		$.ajax({
			type : "POST",
			url : "getShareMindNodeObject.do",  //打开具体的思维导图
			data : da,
			success : function(data) {
				var json = $.parseJSON(data);
				if (json.state == 1) {
					datas=eval('(' + json.datas + ')');
			        jm.show(datas);
			        expand_to_level2();  //调整为显示主节点后的三层

				}else if(json.a=="2"){
					$.messager.alert("操作提示", "请登录后再操作！", "info");
				}else{
					$.messager.alert("操作提示", "找不到对应的知识图谱！", "info");
                    clear();
				}
			},
		});
		}

     <!-- 获取到分享图谱的页数 -->   
     function getShareMindMap(currentPage){

    	 var html="";
    	 var adata={"sharetype":"mindnode",
    			    "currentPage":currentPage,
    			    "pageSize":9
    	           };
    	 var data=JSON.stringify(adata);

    	 $.ajax({
    		 type:"POST",
    		 dataType:"json",
    		 contentType:"application/json",
    		 data:data,
    		 url:"getShareMindNode.do",

    		 success:function(data){
    			 if(data.a=="1"){
    				 $.messager.alert("操作提示",
								"目前没有分享的知识图谱！",
								"info");
    			 }else if(data.a=="2"){
    				 $.messager.alert("操作提示",
								"请登录后再进行以下操作",
								"info");
    			 }else{
    				 
					 $.each(data,
							function(i,a){
                            html += '<div class="col-xs-4"><div class="block">';
                            html += '<div class="block-icon"><img src="images/index/mind.png"></div>';
                            html += '<div class="block-img">';
                            html += '<img src="images/index/block-img.jpg" alt="" width="340" height="94">';
                            html += '</div>';
                            html += '<div class="block-text"><h4>'+a.nodename+'</h4><small>作者：'+a.userid+'</small>';
                            html += '<button class="btn btn-default" onclick="open_ajax('+a.nodeid+',\''+a.userid+'\',\''+a.nodename+'\');">进入知识图谱</button>';
                            html += '</div></div></div>';

					 });

					 $("#jsmind_container").html(html);
					 getShareMindMapPage(currentPage);
    			 }

    		 },

    		 error: function(e){
    			 alert("网络连接失败");
    		 },
    	 });

     }
     
     
    <!-- 获取到分享后结果的页数 -->
	function getShareMindMapPage(currentPage){
	
		var html="";
		var lastPage;
		var nextPage;
		var showPage=4;      //每次显示的页数
		var index;
		var x;               //定义后面页数固定
		var adata={"sharetype":"mindnode",
			       "pageSize":9	
		          };
		var data=JSON.stringify(adata);
	
		$.ajax({
			type:"post",
			contentType:"application/json",
			dataType:"json",
			data:data,
			url:"getShareMindNodeTotal.do",
	
			success:function(data){
				if(data==null){
					alert("获取失败");
				}else{
					html+="<div align='center'>";
					html+="<ul class='pagination'>";
					html+="<li><span onclick='getShareMindMap(1)'>首页</span></li>";
	
					lastPage=currentPage;
					if(lastPage<=1){
						lastPage==1;
					}else{
						lastPage--;
					}
	
					html+="<li><span onclick='getShareMindMap("+lastPage+")'>上一页</span></li>";
	
					if(data<=showPage){
						for(var i=1;i<=data;i++){
	                        if(currentPage==i){
	                            html+="<li class='active'><span onclick='getShareMindMap("+i+")'>"+i+"</span></li>";
	                        } else{
	                            html+="<li><span onclick='getShareMindMap("+i+")'>"+i+"</span></li>";
	                        }
						}
					}else{
						index=currentPage+showPage;
						x=currentPage;
						if(index>data){
							index=data+1;
							x=index-showPage;
						}
	
						for(var i=x;i<index;i++){
							html+="<li><span onclick='getShareMindMap("+i+")'>"+i+"</span></li>";
						}
					}
	
	
					nextPage=currentPage;
					if(nextPage<data){
						nextPage++;
					}else if(nextPage==data){
						nextPage=data;
					}
	
					html+="<li><span onclick='getShareMindMap("+nextPage+")'>下一页</span></li>";
					html+="<li><span onclick='getShareMindMap("+data+")'>尾页</span></li>";
					html+="</ul>";
					html+="</div>";
					$("#jsmind_container").append(html);
	
				}
	
			},
	
			error:function(e){
				alert("网络连接失败!");
			},
	
		});
	}
	
	
	/* <!-- 获得选中节点的nodeid --> */
	function get_selected_nodeid() {
		var selected_node = jm.get_selected_node();
		if (!!selected_node) {   //两个叹号是为了将之数据类型转换为布朗型的
			return selected_node.id;
		} else {
			return null;
		}
	}

	
	
	<!-- 获得选中节点的nodename -->
	function get_selected_nodeName(){
	    var selected_node = jm.get_selected_node();
	    if (!!selected_node) {   //两个叹号是为了将之数据类型转换为布朗型的
	        return selected_node.topic;
	    } else {
	        return null;
	    }
	}

	/* 根据点击获取子节点的type，显示弹出框  */
	$("jmnode").live('click', function(e) {
		
		$('#showbiji').attr('src', $('#showbiji').attr('src'));
		$('#biji').menu();
		$('#biji').menu('show', { //菜单EasyUI
			left : e.pageX,
			top : e.pageY - 250,
			hideOnUnhover : false
		});
				
	});

	/* 根据名称查询分享的知识图谱 */
	function searchMindmap(currentPage) {
		var searchText = $("#searchText").val();
		
	    var html="";
	    var adata={"sharetype":"mindnode",
	        "currentPage":currentPage,
	        "pageSize":9,
	        "searchMessage":searchText
	    };
	    var data=JSON.stringify(adata);
	
	    $.ajax({
	        type:"POST",
	        dataType:"json",
	        contentType:"application/json",
	        data:data,
	        url:"getSearchMindByName.do",
	
	        success:function(data){
	            if(data.a=="3"){
	                $.messager.alert("操作提示",
	                    "目前没有分享的知识图谱！",
	                    "info");
	            }else if(data.a=="2"){
	                $.messager.alert("操作提示",
	                    "请登录后再进行以下操作",
	                    "info");
	            }else{
	
	                $.each(data,
	                    function(i,a){
	                        html += '<div class="col-xs-4"><div class="block">';
	                        html += '<div class="block-icon"><img src="images/index/mind.png"></div>';
	                        html += '<div class="block-img">';
	                        html += '<img src="images/index/block-img.jpg" alt="" width="340" height="94">';
	                        html += '</div>';
	                        html += '<div class="block-text"><h4>'+a.nodename+'</h4><small>作者：'+a.userid+'</small>';
	                        html += '<button class="btn btn-default" onclick="open_ajax('+a.nodeid+',\''+a.userid+'\',\''+a.nodename+'\');">进入知识图谱</button>';
	                        html += '</div></div></div>';
	
	                    });
	
	                $("#jsmind_container").html(html);
	                getSearchPage(currentPage);
	            }
	
	        },
	
	        error: function(e){
	            alert("没有该名称的图谱！");/* 网络连接失败 */
	        },
	    });
	}
</script>

    <!-- 获取到搜索后的页数 -->
	<script type="text/javascript">
	    
	function getSearchPage(currentPage){
		
		var searchText = $("#searchText").val();
		var html="";
		var lastPage;
		var nextPage;
		var showPage=4;      //每次显示的页数
		var index;
		var x;               //定义后面页数固定
		var adata={"sharetype":"mindnode",
			       "pageSize":9,
			       "searchMessage":searchText
		          };
		var data=JSON.stringify(adata);
	
		$.ajax({
			type:"post",
			contentType:"application/json",
			dataType:"json",
			data:data,
			url:"getSearchMindPage.do",
	
			success:function(data){
				if(data==null){
					alert("获取失败");
				}else{
					html+="<div align='center'>";
					html+="<ul class='pagination'>";
					html+="<li><span onclick='searchMindmap(1)'>首页</span></li>";
	
					lastPage=currentPage;
					if(lastPage<=1){
						lastPage==1;
					}else{
						lastPage--;
					}
	
					html+="<li><span onclick='searchMindmap("+lastPage+")'>上一页</span></li>";
	
					if(data<=showPage){
						for(var i=1;i<=data;i++){
	                        if(currentPage==i){
	                            html+="<li class='active'><span onclick='searchMindmap("+i+")'>"+i+"</span></li>";
	                        } else{
	                            html+="<li><span onclick='searchMindmap("+i+")'>"+i+"</span></li>";
	                        }
						}
					}else{
						index=currentPage+showPage;
						x=currentPage;
						if(index>data){
							index=data+1;
							x=index-showPage;
						}
	
						for(var i=x;i<index;i++){
							html+="<li><span onclick='searchMindmap("+i+")'>"+i+"</span></li>";
						}
					}
	
	
					nextPage=currentPage;
					if(nextPage<data){
						nextPage++;
					}else if(nextPage==data){
						nextPage=data;
					}
	
					html+="<li><span onclick='searchMindmap("+nextPage+")'>下一页</span></li>";
					html+="<li><span onclick='searchMindmap("+data+")'>尾页</span></li>";
					html+="</ul>";
					html+="</div>";
					$("#jsmind_container").append(html);
	
				}
	
			},
	
			error:function(e){
				alert("网络连接失败!");
			},
	
		});
	}
	
	</script>

</body>
</html>